* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*listings*/

.listings img {
  border-radius: 50%;
}

.listings .listing {
  display: flex;
  border-bottom: 1px solid #ffffff;
  padding: 10px;
  background: #d4f5fa;
}

.listings .listing .listing-item {
  flex: auto;
  align-self: center;
}
.listings .listing .listing-item h5 {
  word-break: break-word;
}
.listings .listing .listing-item:last-child {
  text-align: right;
}
